.feed-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px #e2e2e2;
  -moz-box-shadow: 1px 1px 1px #e2e2e2;
  box-shadow: 1px 1px 1px #e2e2e2;
  background: #fff;
  overflow: hidden;
  margin: auto;
  min-height: 120px;
  margin-bottom: 12px;
  min-width: 360px;
  max-width: 500px;
  padding: 0 2%;
}
.caduceus {
  background-image: url(/img/sprite-sa313b29d78.png);
  background-position: 0px -5963.5px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 17px;
  vertical-align: middle;
  width: 11px;
  padding: 1px;
}
.caduceus-icon {
  margin-right: 3px;
  background-image: url(/img/sprite-sa313b29d78.png);
  background-position: 0px -3806px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 26px;
  vertical-align: middle;
  width: 26px;
  padding: 1px;
}
.thank-icon {
  margin: -8px 0 -1px 3px;
  background-image: url(/img/sprite-sa313b29d78.png);
  background-position: 0px -3717.5px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 26px;
  vertical-align: middle;
  width: 19px;
  padding: 1px;
}
